.MuiList-root {
    color:#992E62;
}
.MuiMenuItem-root {
    font-size: 14px !important;
    font-weight: 600 !important;
}
.MuiTableCell-body {
    font-size: 14px !important;
    font-weight: 400 !important;
}
/*.MuiTableCell-root {
    color: #992E62 !important;
    font-size:18px !important;
}*/
.rfipbtn {
    width: 50px !important;
    min-height: 50px !important;
}

.rfipbtn__current {
    display: none;
}


.rfipbtn--blue .rfipbtn__button {
    border: 1px solid #992E62 !important;
    background-color: #992E62 !important;
    color: #fff;
}
.rfipbtn--blue {
    background-color: #992E62;
    border: 1px solid #8c8c8c;
}

.swal2-styled.swal2-confirm {
    background-color: rgb(15, 105, 125) !important;
    color: #fff;
    font-size: 1em;
}
/*.MuiDataGrid-main{
    color:blue !important
}*/

.MuiDataGrid-main > div {
    color:rgba(130, 130, 130, 0) !important

}
.MuiDataGrid-virtualScrollerContent{
    color:rgb(83, 83, 83) !important
}
