.MuiList-root {
    color:#992E62;
}
.MuiMenuItem-root {
    font-size: 14px !important;
    font-weight: 600 !important;
}
.MuiTableCell-body {
    font-size: 14px !important;
    font-weight: 400 !important;
}
/*.MuiTableCell-root {
    color: #992E62 !important;
    font-size:18px !important;
}*/
.rfipbtn {
    width: 50px !important;
}

.rfipbtn__current {
    display: none;
}


.rfipbtn--blue .rfipbtn__button {
    border: 1px solid #992E62 !important;
    background-color: #992E62 !important;
    color: #fff;
}
.rfipbtn--blue {
    background-color: #992E62;
    border: 1px solid #8c8c8c;
}
